@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="wcratesTable" class="table table-sm table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Carrier</th>
            <th>State</th>
            <th>Code</th>
            <th>Rate</th>
            <th>Active?</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $('#wcratesTable').DataTable({
                //dom: '<<"dataTables_customToolbar">lf<rt>ip>',
                dom: '<lf<rt>ip>',
                ajax: {
                    url: '/api/wcrates',
                    dataSrc: ''
                },
                columns: [
                    { data: 'carrierName' },
                    { data: 'stateName' },
                    { data: 'codeNumber' },
                    { data: 'rate' },
                    {
                        data: 'isActive',
                        render: function (data, type, rate) {
                            return rate.isActive ? '<i class="fas fa-check active-rate"></i>' : '--';
                        }
                    }
                ],
                pageLength: 50
            });

            //$('div.dataTables_customToolbar').html('<a href="" class="btn btn-sm btn-info text-capitalize font-weight-bold"><i class="fas fa-plus pr-1" />New WC Rate</a>');
            //$('.dataTables_customToolbar').addClass('col-sm-auto text-center mb-2 dt_topbar_element');
            $('.dataTables_length').addClass('col-sm-auto dt_topbar_element');
            $('.dataTables_filter').addClass('col-sm-auto ml-md-auto dt_topbar_element');
            $('.dt_topbar_element')
                .wrapAll('<div class="dt_topbar container"><div class="row"></div></div>');
        });
    </script>
}