@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Carrier List</h3>
<hr />
<table id="carriersTable" class="table table-sm table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Base Rate</th>
            <!--<th>States Covered</th>-->
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $('#carriersTable').DataTable({
                ajax: {
                    url: '/api/carriers',
                    dataSrc: ''
                },
                columns: [
                    { data: 'name' },
                    { data: 'baseRate' }/*,
                    {
                        data: 'statesCovered',
                        render: function (data, type, carrier) {
                            var carrierStates = carrier.statesCovered;
                            var states = '';
                            for (var i = 0; i < carrierStates.length; i++)
                                states += carrierStates[i].state.abbreviation + ', ';
                            return '<label>' + states + '</label>';
                        }
                    }*/
                ]
            });
        });
    </script>
}