@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="mobile-header text-center">Carrier List</h4>
<table id="carriersTable" class="table table-sm table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Base Rate &lpar;&percnt;&rpar;</th>
            <th>States Covered</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts{
    @Scripts.Render("~/Scripts/App/Carriers/Index.js")
}