<div class="container text-center text-info">
    <div class="jumbotron">
        <h2 class="mb-3">Welcome!</h2>
        <p class="lead mb-3">With MRT, you can</p>
        <div class="row">
            <div class="col-6 offset-3 mb-2">
                <i class="fa fa-thumbs-up mr-2"></i>
                View and search a list of our carriers, their policies, current NCCI codes, or up-to-date Work Comp rates
            </div>
            <div class="col-6 offset-3 mb-2">
                <i class="fa fa-thumbs-up mr-2"></i>
                Create a new carrier, or edit an existing one
            </div>
            <div class="col-6 offset-3 mb-2">
                <i class="fa fa-thumbs-up mr-2"></i>
                Create a new policy and associate it with an existing carrier
            </div>
            <div class="col-6 offset-3 mb-2">
                <i class="fa fa-thumbs-up mr-2"></i>
                Edit an existing policy's information
            </div>
        </div>
    </div>
</div>
