<div class="container align-content-center text-info">
    <div class="text-center">
        <h2 class="mb-3">Welcome!</h2>
        <h5 class="mb-3">With MRT, you can:</h5>
    </div>
    <div class="row mb-2 no-gutters">
        <div class="col-md-8 col-12 offset-md-2 text-dark">
            <i class="fa fa-2x fa-thumbs-up pr-2 text-info"></i>
            View and search a list of our carriers, policies, or current NCCI codes and Work Comp rates
        </div>
    </div>
    <div class="row mb-2 no-gutters">
        <div class="col-md-8 col-12 offset-md-2 text-dark">
            <i class="fa fa-2x fa-thumbs-up pr-2 text-info"></i>
            Create a new carrier, or edit an existing one
        </div>
    </div>
    <div class="row mb-2 no-gutters">
        <div class="col-md-8 col-12 offset-md-2 text-dark">
            <i class="fa fa-2x fa-thumbs-up pr-2 text-info"></i>
            Create a new policy and associate it with an existing carrier
        </div>
    </div>
    <div class="row mb-2 no-gutters">
        <div class="col-md-8 col-12 offset-md-2 text-dark">
            <i class="fa fa-2x fa-thumbs-up pr-2 text-info"></i>
            Edit an existing policy's information
        </div>
    </div>
    <div class="row mb-2 no-gutters">
        <div class="col-md-8 col-12 offset-md-2 text-dark">
            <i class="fa fa-2x fa-thumbs-up pr-2 text-info"></i>
            Be sure to hover over or click on help icons to get more information about a given field
        </div>
    </div>
</div>
