body {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.table {
    width: 100% !important;
}

:focus {
    outline-color: #771e86 !important;
}

.navbar {
    padding-top: 0.34765625rem;
    padding-bottom: 0.34765625rem;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.75rem;
}

.nav-item > .dropdown-menu {
    width: 100%;
    border-radius: 0 0 0.5em 0.5em;
}

.nav-item > .dropdown-menu > a,
.nav-item > .dropdown-menu > form > a {
    color: rgba(255, 255, 255, 0.75);
}

.nav-item.active {
    background-color: #9C27B0;
}

.nav-item:not(:active):not(.active):hover,
.nav-item > .dropdown-menu > a:hover,
.nav-item > .dropdown-menu > form > a:hover {
    background-color: #771e86;
}

.dataTable a:link,
.form-group a:link,
.form-group a,
.list-group-item > a > i {
    color: #9C27B0 !important;
}

.dataTable a:visited {
    color: #BD9A3D;
}

.paginate_button .page-link {
    color: #9C27B0;
}

.paginate_button.active .page-link {
    color: white !important;
    background-color: #9C27B0 !important;
    border-color: #771e86 !important;
}

.field-validation-error {
    color: #E31C51;
}

.input-validation-error {
    border: 2px groove #E31C51;
    border-radius: 4px 4px;
}

.form-control.btn-info:focus,
.form-control.btn-outline-info:focus:hover {
    color: white;
}

.form-control.btn-outline-info:focus {
    color: #9C27B0;
}

select.form-control {
    padding: 0 0.5rem;
}

.active-policy,
.active-rate {
    color: limegreen;
}

@media (min-width: 768px) {
    .navbar {
        border-bottom: #9C27B0 5px solid;
    }
    .dt_topbar_element {
        padding-left: 0.2rem !important;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        padding: 0.34765625rem 0.34765625rem;
    }
    .dt_topbar_element {
        margin-right: auto !important;
    }
    .navbar-toggler {
        margin-right: 0.34765625rem;
    }

}