body {
    padding-top: 3em;
    padding-bottom: 3em;
}

.navbar-brand {
    font-size: 1.75rem;
}

@media (min-width: 768px) {
    .nav-item.active {
        border-bottom: #9C27B0 4px solid;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        padding-left: 0.25em;
    }
    .nav-item.active {
        border-left: #9C27B0 4px solid;
    }
}