body {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.navbar {
    padding-top: 0.34765625rem;
    padding-bottom: 0.34765625rem;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.75rem;
}

.nav-item > .dropdown-menu {
    width: 100%;
    border-radius: 0 0 0.5em 0.5em;
}

.nav-item > .dropdown-menu > a,
.nav-item > .dropdown-menu > form > a {
    color: rgba(255, 255, 255, 0.75);
}

.nav-item.active {
    background-color: #9C27B0;
}

.nav-item:not(:active):not(.active):hover,
.nav-item > .dropdown-menu > a:hover,
.nav-item > .dropdown-menu > form > a:hover {
    background-color: #771e86;
}

.dataTables_length > label > select {
    padding: 0 0.5rem;
}

@media (min-width: 768px) {
    .navbar {
        border-bottom: #9C27B0 5px solid;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 0.34765625rem;
        padding-bottom: 0.34765625rem;
        padding-left: 0.25rem;
    }
}