@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="mobile-header text-center">Policy List</h4>
<table id="policyAssignmentsTable" class="table table-sm table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Number</th>
            <th>Carrier</th>
            <th>Active?</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    @Scripts.Render("~/Scripts/App/Policies/Index.js")
}