@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="policiesTable" class="table table-sm table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Number</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $('#policiesTable').DataTable({
                dom: '<<"dataTables_customToolbar">lf<rt>ip>',
                ajax: {
                    url: '/api/policies',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'id',
                        render: function (data, type, policy) {
                            return '<a href="/policies/edit/' + policy.id + '">' + policy.number + '</a>';
                        }
                    },
                    { data: 'startDateString' },
                    { data: 'endDateString' },
                    { data: 'policyType.name' }
                ]
            });

            $('div.dataTables_customToolbar')
                .html('<a href="/policies/new" class="btn btn-sm btn-info text-capitalize font-weight-bold"><i class="fas fa-plus pr-1" />New Policy</a>');
            $('.dataTables_customToolbar').addClass('col-sm-auto text-center mb-2 dt_topbar_element');
            $('.dataTables_length').addClass('col-sm-auto dt_topbar_element');
            $('.dataTables_filter').addClass('col-sm-auto ml-md-auto dt_topbar_element');
            $('.dt_topbar_element')
                .wrapAll('<div class="dt_topbar container"><div class="row"></div></div>');
        });
    </script>
}